---
- name: Nomad Client Setup
  hosts: nomad_clients
  become: yes
  vars:
    nomad_version: "1.6.0"
    datacenter: "dc1"
  tasks:
    - name: Download Nomad
      get_url:
        url: "https://releases.hashicorp.com/nomad/{{ nomad_version }}/nomad_{{ nomad_version }}_linux_amd64.zip"
        dest: "/tmp/nomad_{{ nomad_version }}_linux_amd64.zip"
        mode: '0644'

    - name: Unzip Nomad
      unarchive:
        src: "/tmp/nomad_{{ nomad_version }}_linux_amd64.zip"
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
        owner: root
        group: root

    - name: Create Nomad systemd service
      template:
        src: ../templates/nomad.service.j2
        dest: /etc/systemd/system/nomad.service
        mode: '0644'
        owner: root
        group: root

    - name: Create CNI directory
      file:
        path: /opt/cni/bin
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Download CNI plugins
      get_url:
        url: https://github.com/containernetworking/plugins/releases/download/v1.2.0/cni-plugins-linux-amd64-v1.2.0.tgz
        dest: /tmp/cni-plugins.tgz
        mode: '0644'

    - name: Extract CNI plugins
      unarchive:
        src: /tmp/cni-plugins.tgz
        dest: /opt/cni/bin
        remote_src: yes
        mode: '0755'
        owner: root
        group: root

    - name: Get server IPs
      set_fact:
        server_ips: "{{ groups['nomad_servers'] | map('extract', hostvars, ['ansible_host']) | list }}"

    - name: Create Nomad client config
      template:
        src: ../templates/nomad-client.hcl.j2
        dest: /etc/nomad.d/nomad.hcl
        mode: '0644'

    - name: Start and enable Nomad service
      systemd:
        name: nomad
        state: started
        enabled: yes
        daemon_reload: yes
