datacenter = "{{ datacenter }}"
data_dir = "/opt/consul/data"
encrypt = "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') }}"

server = true
bootstrap_expect = {{ groups['nomad_servers'] | length }}

bind_addr = "{{ ansible_default_ipv4.address }}"
client_addr = "0.0.0.0"

retry_join = [
  {% for host in groups['nomad_servers'] %}
  "{{ hostvars[host]['ansible_host'] }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]

ui_config {
  enabled = true
}

performance {
  raft_multiplier = 1
}

connect {
  enabled = true
}

ports {
  grpc = 8502
}

telemetry {
  disable_hostname = true
  prometheus_retention_time = "30s"
}
