datacenter = "{{ datacenter }}"
data_dir = "/opt/consul/data"
encrypt = "{{ consul_encrypt }}"

server = false

bind_addr = "{{ ansible_default_ipv4.address }}"
client_addr = "0.0.0.0"

retry_join = [
  {% for host in groups['nomad_servers'] %}
  "{{ hostvars[host]['ansible_default_ipv4']['address'] }}"{% if not loop.last %},{% endif %}
  {% endfor %}
]

ui_config {
  enabled = true
}

connect {
  enabled = true
}

telemetry {
  disable_hostname = true
  prometheus_retention_time = "30s"
}
