datacenter = "{{ datacenter }}"
data_dir = "/opt/nomad/data"

server {
  enabled = true
  bootstrap_expect = {{ groups['nomad_servers'] | length }}
  server_join {
    retry_join = [
      {% for ip in server_ips %}
      "{{ ip }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
    retry_max = 5
    retry_interval = "15s"
  }
  
  # Automatische Bereinigung von toten Clients
  node_gc_threshold = "5m"
}

client {
  enabled = false
}

consul {
  # Adresse des lokalen Consul-Agenten
  address = "127.0.0.1:8500"
  
  # Service-Namen für Nomad in Consul
  server_service_name = "nomad"
  client_service_name = "nomad-client"
  
  # Automatische Registrierung und Service-Discovery
  auto_advertise = true
  server_auto_join = true
  client_auto_join = true

  # Service-Tags für bessere Identifikation
  server_tags = ["server", "{{ datacenter }}", "v1"]
  client_tags = ["client", "{{ datacenter }}", "v1"]
  
  # Health-Check-Konfiguration
  checks_use_advertise = true
}

autopilot {
  cleanup_dead_servers = true
  last_contact_threshold = "200ms"
  max_trailing_logs = 250
  server_stabilization_time = "10s"
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

log_level = "INFO"
enable_syslog = true

addresses {
  http = "0.0.0.0"
  rpc  = "0.0.0.0"
  serf = "0.0.0.0"
}

ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}

acl {
  enabled = true
}